<fieldset>
  {{#if @label}}
    <label for="user-groups-select" class="block text-sm font-medium text-gray-700">
      {{@label}}
    </label>
  {{/if}}
  <div class="mt-1 sm:flex space-y-5 sm:space-y-0 sm:space-x-6">
    {{#each this.sortedOptions as |option|}}
      <Rlv::InputField::Checkbox
        @id={{concat "option-" option.id}}
        @label={{option.name}}
        @value={{includes option @value}}
        @onChange={{fn this.updateValue option}} />
    {{/each}}
  </div>
</fieldset>