<div class="p-4 lg:px-6 space-y-4 w-full bg-gray-50 rounded-md">
  <div class="flex items-center justify-between">
    <div class="flex items-center space-x-2">
      <div class="flex items-center">
        {{svg-jar "search-line" class="shrink-0 mr-2 h-4 w-4 text-gray-500 fill-current"}}
        <h4 class="text-gray-700 text-sm uppercase tracking-wide">
          Zoeken
        </h4>
      </div>
      {{#if this.isLoadingModel}}
        <div class="flex-0">
          <Util::LoadingSpinner @label="" />
        </div>
      {{else}}
        <div class="text-gray-500 text-xs">
          (<span class="font-medium">{{this.model.meta.count}}</span> resultaten gevonden)
        </div>
      {{/if}}
    </div>
    <div class="shrink-0">
      <Rlv::Button
        @label="Wis alle filters"
        @icon="filter-line"
        @skin="secondary-link"
        {{on "click" this.resetFilters}} />
    </div>
  </div>
  <div class="mt-4 grid sm:grid-cols-12 gap-4">
    <div class="sm:col-span-2 lg:col-span-1">
      <Filter::TextInput
        @label="Nr."
        @value={{this.filter.identifier}}
        @onInput={{perform this.debounceFilter "identifier"}} />
    </div>
    <div class="sm:col-span-4 lg:col-span-3 xl:col-span-2">
      <InputField::ProductCategorySelect
        @label="Categorie"
        @scope="top"
        @value={{this.filter.broaderCategory}}
        @onSelectionChange={{fn this.selectFilter "broaderCategory"}} />
    </div>
    <div class="sm:col-span-6 lg:col-span-4 xl:col-span-2">
      <InputField::ProductCategorySelect
        @label="Subcategorie"
        @scope={{this.filter.broaderCategory}}
        @disabled={{not this.filter.broaderCategory}}
        @value={{this.filter.category}}
        @onSelectionChange={{fn this.selectFilter "category"}} />
    </div>
    <div class="sm:col-span-10 lg:col-span-4 xl:col-span-3">
      <Filter::TextInput
        @label="Naam"
        @value={{this.filter.name}}
        @onInput={{perform this.debounceFilter "name"}} />
    </div>
    <div class="sm:col-span-6 lg:col-span-4 xl:col-span-2">
      <InputField::BusinessEntitySelect
        @label="Leverancier"
        @value={{this.filter.supplier}}
        @onSelectionChange={{fn this.selectFilter "supplier"}} />
    </div>
    <div class="sm:col-span-2 lg:col-span-2 xl:col-span-1">
      <Filter::TextInput
        @label="Lev. nr."
        @value={{this.filter.supplierIdentifier}}
        @onInput={{perform this.debounceFilter "supplierIdentifier"}} />
    </div>
    <div class="sm:col-span-2 lg:col-span-2 xl:col-span-1">
      <Filter::TextInput
        @label="Rek"
        @value={{this.filter.rack}}
        @onInput={{perform this.debounceFilter "rack"}} />
    </div>
    <div class="sm:col-span-6 lg:col-span-4">
      <Rlv::InputField::Checkbox
        @id="filter-status-field"
        @label="Toon ook niet beschikbare producten"
        @value={{not this.filter.availableOnly}}
        @onChange={{this.toggleAvailableOnly}}
        class="mt-1" />
    </div>
  </div>
</div>

<div class="mt-4 flex flex-col">
  <div class="-my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
    <div class="py-2 align-middle inline-block min-w-full sm:px-6 lg:px-8">
      <div class="overflow-hidden border-b border-gray-200 sm:rounded-lg">
        <table class="min-w-full divide-y divide-gray-200">
          <thead>
            <tr>
              <th class="py-3 bg-gray-100 text-center text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider"
                title="Beschikbaarheid">
              </th>
              <th class="px-1 py-3 bg-gray-100 text-center text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">
                Nr.
              </th>
              <th class="px-6 py-3 bg-gray-100 text-left text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">
                Categorie
              </th>
              <th class="px-6 py-3 bg-gray-100 text-left text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">
                Naam
              </th>
              <th class="px-6 py-3 bg-gray-100 text-left text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">
                VKP <br>btw ex
              </th>
              <th class="px-6 py-3 bg-gray-100 text-left text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">
                VKP <br>btw in
              </th>
              <th class="px-6 py-3 bg-gray-100 text-left text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">
                Eenheid
              </th>
              <th class="px-6 py-3 bg-gray-100 text-left text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">
                Leverancier
              </th>
              <th class="px-6 py-3 bg-gray-100"></th>
            </tr>
          </thead>
          <tbody class="bg-white divide-y divide-gray-200">
            {{#each this.model as |product|}}
              <tr>
                <td class="pl-2 py-2 whitespace-nowrap text-center text-xs text-gray-500">
                  {{#if product.salesOffering.isValid}}
                    {{svg-jar "circle-fill" title="Beschikbaar" class="h-3 w-3 text-green-400 fill-current"}}
                  {{else}}
                    {{svg-jar "circle-fill" title="Niet beschikbaar" class="h-3 w-3 text-red-400 fill-current"}}
                  {{/if}}
                </td>
                <td class="px-1 py-4 whitespace-nowrap text-center text-sm text-gray-500">
                  {{product.identifier}}
                </td>
                <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
                  {{#if product.broaderCategory}}
                    {{product.broaderCategory.label}}
                    <br> <div class="w-3 h-3 ml-2 mr-1 inline-block border-b-2 border-l-2 border-gray-300"></div>
                  {{/if}}
                  {{product.category.label}}
                </td>
                <td class="px-6 py-4 text-sm font-medium text-gray-900">
                  {{product.name}}
                </td>
                <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
                  <Fmt::UnitPrice
                    @model={{product.salesOffering.unitPriceSpecification}}
                    @showTaxIncluded={{false}} />
                </td>
                <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900">
                  <Fmt::UnitPrice
                    @model={{product.salesOffering.unitPriceSpecification}}
                    @showTaxIncluded={{true}} />
                </td>
                <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
                  <Fmt::UnitCode @value={{product.salesOffering.unitPriceSpecification.unitCode}} />
                </td>
                <td class="px-6 py-4 text-sm text-gray-500">
                  {{product.purchaseOffering.businessEntity.name}}
                  {{#if product.purchaseOffering.identifier}}
                    <br>Nr. {{product.purchaseOffering.identifier}}
                  {{/if}}
                </td>
                <td class="px-6 py-4 whitespace-nowrap text-right text-sm font-medium">
                  <Rlv::Button
                    @label="Bekijk"
                    @route="main.products.detail.index"
                    @model={{product.uuid}}
                    @skin="link" />
                </td>
              </tr>
            {{else}}
              <tr>
                <td colspan="8" class="px-6 py-4 text-center text-sm text-gray-500">
                  Geen producten gevonden.
                </td>
              </tr>
            {{/each}}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<DataTable::Pagination
  @page={{this.page}}
  @size={{this.size}}
  @total={{this.model.meta.count}}
  @onPrevious={{this.previousPage}}
  @onNext={{this.nextPage}}
  @onSelectPage={{this.selectPage}}
/>
