<div class="relative flex items-center" ...attributes>
  <div class="flex grow-0 items-center h-5" {{did-update this.updateCheckedValue @value}}>
    <Input
      id={{@id}}
      @type="checkbox"
      @checked={{this.checkedValue}}
      disabled={{@disabled}}
      class="focus:ring-red-200 h-4 w-4 text-red-600 border-gray-300 rounded"
      {{on "input" this.toggleValue}} />
  </div>
  {{#if (has-block "label")}}
    {{yield @id @label to="label"}}
  {{else if @label}}
    <div class="ml-3 text-sm">
      <label for={{@id}} class="font-medium text-gray-700">{{@label}}</label>
    </div>
  {{/if}}
</div>
