{{#if @label}}
  <label for={{this.fieldId}} class="block text-sm font-medium text-gray-700">
    {{@label}}
  </label>
{{/if}}
{{#if @disabled}}
  <div class="mt-1 text-sm text-gray-900" ...attributes>
    <Fmt::Date @value={{@value}} />
  </div>
{{else}}
  <EmberFlatpickr
    id={{this.fieldId}}
    @locale="nl"
    @date={{if @value @value null}}
    @dateFormat="j-n-Y"
    @onChange={{this.updateValue}}
    class="focus:ring-red-200 focus:border-red-200 block w-full sm:text-sm border-gray-300 rounded-md" ...attributes />
{{/if}}