{{#if @label}}
  <label for={{this.fieldId}} class="{{if @hideLabel "sr-only"}} block text-sm font-medium text-gray-700">
    {{@label}}
  </label>
{{/if}}
<div class="{{concat (if (or @leading @trailing) "relative") " mt-1"}}" {{did-update this.formatValue @value}}>
  {{#if @leading}}
    <div class="absolute inset-y-0 left-0 pl-3 flex items-center pointer-events-none">
      <span class="text-gray-500 sm:text-sm">
        {{@leading}}
      </span>
    </div>
  {{/if}}

  <Input
    id={{this.fieldId}}
    @value={{this.formattedValue}}
    {{on "focusout" (fn this.updateValue this.formattedValue)}}
    class="{{if @leading "pl-7"}} {{if @trailing "pr-12"}}"
    ...attributes />

  {{#if @trailing}}
    <div class="absolute inset-y-0 right-0 pr-3 flex items-center pointer-events-none">
      <span class="text-gray-500 sm:text-sm">
        {{@trailing}}
      </span>
    </div>
  {{/if}}
</div>
{{#each @errors as |error|}}
  <p class="mt-2 text-xs text-red-600">
    {{error}}
  </p>
{{/each}}
