{{#if @label}}
  <label for={{this.group}} class="block text-sm font-medium text-gray-700">
    {{@label}}
  </label>
{{/if}}
<ul
  role="radiogroup"
  aria-labelledby={{this.group}}
  class="mt-1 relative inline-flex shadow-sm rounded-md">
  {{#each this.options as |option index|}}
    {{#let (eq @value option.value) as |isChecked|}}
      <li
        tabindex={{if isChecked "0" "-1"}}
        role="radio"
        id={{concat this.group "-option-" option.id}}
        aria-checked={{if isChecked "true" "false"}}
        class="px-4 py-2 cursor-pointer border border-gray-300 text-xs text-gray-700 uppercase focus:outline-none focus:ring-offset-2 focus:ring-2 focus:ring-red-200 focus:border-red-200 focus:z-10
        {{if (eq index 0) "rounded-l-md" "-ml-px"}}
        {{if (eq index this.nbOfOptions) "rounded-r-md"}}
        {{if isChecked "bg-gray-100 font-medium" "bg-white"}}"
        {{on "click" (fn @onChange option.value)}}
        {{on-key 'ArrowUp' (fn this.selectPrevious index) onlyWhenFocused=true}}
        {{on-key 'ArrowLeft' (fn this.selectPrevious index) onlyWhenFocused=true}}
        {{on-key 'ArrowDown' (fn this.selectNext index) onlyWhenFocused=true}}
        {{on-key 'ArrowRight' (fn this.selectNext index) onlyWhenFocused=true}}>
        {{option.label}}
      </li>
    {{/let}}
  {{/each}}
</ul>