<form class="space-y-6" {{on "submit" this.login }}>
  <div>
    <label for="mu-login-username" class="block text-sm font-medium text-gray-700">
      Gebruiker
    </label>
    <div class="mt-1">
      <Input
        id="mu-login-username"
        @value={{this.nickname}}
        placeholder={{@placeholder}}
        class="appearance-none block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm placeholder-gray-400 focus:outline-none focus:ring-red-500 focus:border-red-500 sm:text-sm" />
    </div>
  </div>

  <div>
    <label for="mu-login-password" class="block text-sm font-medium text-gray-700">
      Wachtwoord
    </label>
    <div class="mt-1">
      <Input
        id="mu-login-password"
        @value={{this.password}}
        type="password"
        autocomplete="current-password"
        class="appearance-none block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm placeholder-gray-400 focus:outline-none focus:ring-red-500 focus:border-red-500 sm:text-sm" />
    </div>
  </div>

  {{#if this.errorMessage}}
    <div class="rounded-md bg-yellow-50 p-4">
      <div class="flex">
        <div class="shrink-0">
          {{!-- Heroicon name: exclamation --}}
          <svg class="h-5 w-5 text-yellow-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
            <path fill-rule="evenodd" d="M8.257 3.099c.765-1.36 2.722-1.36 3.486 0l5.58 9.92c.75 1.334-.213 2.98-1.742 2.98H4.42c-1.53 0-2.493-1.646-1.743-2.98l5.58-9.92zM11 13a1 1 0 11-2 0 1 1 0 012 0zm-1-8a1 1 0 00-1 1v3a1 1 0 002 0V6a1 1 0 00-1-1z" clip-rule="evenodd" />
          </svg>
        </div>
        <div class="ml-3">
          <h3 class="text-sm font-medium text-yellow-800">
            Aanmelden mislukt
          </h3>
          <div class="mt-2 text-sm text-yellow-700">
            <p>
              {{this.errorMessage}}
            </p>
          </div>
        </div>
      </div>
    </div>
  {{/if}}

  <div>
    <button type="submit"
      class="w-full flex justify-center py-2 px-4 border border-transparent rounded-md shadow-sm text-sm font-medium text-white bg-red-600 hover:bg-red-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-red-500">
      {{#if this.isAuthenticating}}
        <svg class="animate-spin h-5 w-5" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
          <circle class="opacity-25" cx="12" cy="12" r="10" stroke="currentColor" stroke-width="4"></circle>
          <path class="opacity-75" fill="currentColor" d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"></path>
        </svg>
      {{else}}
        Aanmelden
      {{/if}}
    </button>
  </div>
</form>
