{{#if this.isExpanded}}
  <li class="block border-b border-gray-200 bg-gray-50">
    <div role="button" class="px-3 py-3 sm:px-4" {{on "click" this.toggleIsExpanded}}>
      <div class="flex items-center">
        <div class="shrink-0">
          {{svg-jar "arrow-down-s-line" class="h-6 w-6 text-red-500 fill-current"}}
        </div>
        <div class="ml-5">
          <Category::CategoryEdit
            @model={{@model}}
            @onSave={{fn (perform this.saveCategory) @model}}
            @onCancel={{fn this.cancelEditCategory @model}} />
        </div>
      </div>
    </div>
    <div class="px-4 pb-4 ml-10 sm:ml-14 sm:px-6">
      {{#if this.loadSubcategories.isRunning}}
        <div class="text-base text-gray-400">
          Aan het laden...
        </div>
      {{else}}
        {{#if this.sortedSubcategories.length}}
          <ul class="">
            {{#each this.sortedSubcategories as |subcategory|}}
              <li class="px-4 py-2 border-l-2 border-gray-300">
                <Category::SubcategoryEdit
                  @model={{subcategory}}
                  @onSave={{perform this.saveCategory}}
                  @onCancel={{this.cancelEditCategory}} />
              </li>
            {{/each}}
            <div class="-ml-2.5 flex group">
              <Rlv::Button
                @hideText={{true}}
                @icon="add-circle-fill"
                @skin="secondary-naked"
                @size="large"
                class="p-0 group-hover:text-red-600"
                {{on "click" this.addCategory}}>
                {{#unless this.isEnabledInput}}
                  <span class="ml-2 text-sm text-gray-400 hidden group-hover:inline">Categorie toevoegen</span>
                {{/unless}}
              </Rlv::Button>
              {{#if this.isEnabledInput}}
                <div class="ml-2">
                  <Input
                    @value={{this.newCategory}}
                    @enter={{perform this.createCategory}}
                    @escape-press={{this.cancelNewCategory}}
                    {{on "focusout" (perform this.createCategory)}}
                    {{autofocus}}
                    class="px-2 py-1 appearance-none bg-gray-50 border-b-2 rounded text-gray-700 leading-tight focus:ring-red-200 focus:border-b focus:border-red-200" />
                </div>
              {{/if}}
            </div>
          </ul>
        {{else}}
          <div class="text-base text-gray-400">
            Geen subcategorieën
          </div>
        {{/if}}
      {{/if}}
    </div>
  </li>
{{else}}
  <li role="button" {{on "click" this.toggleIsExpanded}}
    class="block border-b border-gray-200 hover:bg-gray-50 focus:outline-none focus:bg-gray-50">
    <div class="px-3 py-3 sm:px-4">
      <div class="flex items-center">
        <div class="shrink-0">
          {{svg-jar "arrow-right-s-line" class="h-6 w-6 text-gray-400 fill-current"}}
        </div>
        <div class="ml-5 text-base font-medium text-gray-600 truncate capitalize">
          {{@model.label}}
        </div>
      </div>
    </div>
  </li>
{{/if}}
