{{#if this.isExpanded}}
  <li class="block border-b border-gray-200 bg-gray-50">
    <div role="button" class="px-4 py-4 sm:px-6" {{on "click" this.toggleIsExpanded}}>
      <div class="flex items-center">
        <div class="flex-shrink-0">
          {{!-- Heroicon name: chevron-down --}}
          <svg class="h-5 w-5 text-red-500" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7" />
          </svg>
        </div>
        <div class="ml-5">
          <Category::CategoryEdit
            @model={{@model}}
            @onSave={{fn (perform this.saveCategory) @model}}
            @onCancel={{fn this.cancelEditCategory @model}} />
        </div>
      </div>
    </div>
    <div class="px-4 pb-4 ml-10 sm:ml-14 sm:px-6">
      {{#if this.loadSubcategories.isRunning}}
        <div class="text-base text-gray-400">
          Aan het laden...
        </div>
      {{else}}
        {{#if this.sortedSubcategories.length}}
          <ul class="">
            {{#each this.sortedSubcategories as |subcategory|}}
              <li class="px-4 py-2 border-l-2 border-gray-300">
                <Category::SubcategoryEdit
                  @model={{subcategory}}
                  @onSave={{perform this.saveCategory}}
                  @onCancel={{this.cancelEditCategory}} />
              </li>
            {{/each}}
            <div class="-ml-3 flex group">
              <button type="button"
                onClick={{this.addCategory}}
                class="flex {{if this.isEnabledInput "text-red-600" "text-gray-400"}} group-hover:text-red-600 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-red-200">
                <svg class="h-6 w-6 flex-shrink-0" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
                  <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm1-11a1 1 0 10-2 0v2H7a1 1 0 100 2h2v2a1 1 0 102 0v-2h2a1 1 0 100-2h-2V7z" clip-rule="evenodd" />
                </svg>
                {{#unless this.isEnabledInput}}
                  <span class="ml-2 text-base text-gray-400 hidden group-hover:inline">Categorie toevoegen</span>
                {{/unless}}
              </button>
              {{#if this.isEnabledInput}}
                <div class="ml-2">
                  <Input
                    @value={{this.newCategory}}
                    @enter={{perform this.createCategory}}
                    @escape-press={{this.cancelNewCategory}}
                    {{on "focusout" (perform this.createCategory)}}
                    {{autofocus}}
                    class="px-2 py-1 appearance-none bg-gray-50 border-b-2 rounded text-gray-700 leading-tight focus:ring-red-200 focus:border-b focus:border-red-200" />
                </div>
              {{/if}}
            </div>
          </ul>
        {{else}}
          <div class="text-base text-gray-400">
            Geen subcategorieën
          </div>
        {{/if}}
      {{/if}}
    </div>
  </li>
{{else}}
  <li role="button" {{on "click" this.toggleIsExpanded}}
    class="block border-b border-gray-200 hover:bg-gray-50 focus:outline-none focus:bg-gray-50">
    <div class="px-4 py-4 sm:px-6">
      <div class="flex items-center">
        <div class="flex-shrink-0">
          {{!-- Heroicon name: chevron-right --}}
          <svg class="h-5 w-5 text-gray-400" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7" />
          </svg>
        </div>
        <div class="ml-5 text-base leading-5 font-medium text-gray-600 truncate capitalize">
          {{@model.label}}
        </div>
      </div>
    </div>
  </li>
{{/if}}
