<MainPageHeader>
  <div class="sm:flex sm:items-center sm:justify-between">
    <h1 class="text-3xl font-display font-bold leading-tight text-gray-900">
      Producten
    </h1>
    {{#if this.showCreateButton}}
      <div class="mt-3 sm:mt-0 sm:ml-4">
        <Rlv::Button
          @label="Nieuw product"
          @route="main.products.new"
          @skin="primary"
          @icon="add-line" />

        <Rlv::ActionMenu
          class="ml-3"
          @label="Exporteren"
          as |Menu|>
          <Menu.Item
            @label="Alle producten"
            @onClick={{perform this.createExport (app-constant "PRICELIST_EXPORT_TASK_OPERATIONS.ALL_PRODUCTS")}} />
          <Menu.Item
            @label="Voorraadlijst"
            @onClick={{perform this.createExport (app-constant "PRICELIST_EXPORT_TASK_OPERATIONS.IN_STOCK")}} />
        </Rlv::ActionMenu>
        {{#if this.createExport.last.isError}}
          <div class="mt-2 text-sm text-yellow-700">
            <p>Exporteren mislukt, probeer opnieuw: <br>
            {{this.createExport.last.error}}
            </p>
          </div>
        {{else if this.createExport.last}}
          <Rlv::Button
            @label="Export downloaden"
            @skin="secondary"
            @icon="download-line"
            @loading={{this.createExport.isRunning}}
            @href={{this.createExport.lastSuccessful.value.downloadLink}}
            target="_blank"
            rel="noopener noreferrer"
            download />
        {{/if}}
      </div>
    {{/if}}
  </div>
</MainPageHeader>

<main>
  <div class="max-w-screen-xl mx-auto py-6 sm:px-6 lg:px-8">
    <div class="px-4 py-4 sm:px-0">
      {{outlet}}
    </div>
  </div>
</main>
