<div class="relative inline-block text-left" ...attributes>
  {{#if (has-block "trigger")}}
    {{yield (hash Open=this.openActionMenu) to="trigger"}}
  {{else}}
    <div>
      <button type="button"
        class="inline-flex justify-center w-full rounded-md border border-gray-300 shadow-sm {{this.sizeClass}} bg-white text-gray-700 hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-gray-100 focus:ring-red-200"
        id="menu-button"
        aria-expanded="true"
        aria-haspopup="true"
        {{on "click" this.openActionMenu}}>
        {{or @label "Acties"}}
        {{svg-jar "arrow-down-s-line" class="mt-0.5 -mr-0.5 ml-1 h-4 w-4 fill-current"}}
      </button>
    </div>
  {{/if}}
  {{#if this.isOpenActionMenu}}
    <div class="z-10 origin-top-right absolute right-0 mt-2 w-56 rounded-md shadow-lg bg-white ring-1 ring-black ring-opacity-5 focus:outline-none" role="menu" aria-orientation="vertical" aria-labelledby="menu-button" tabindex="-1"
      {{on-click-outside this.closeActionMenu}}
      {{!-- TODO make CSS transition work on leave --}}
      {{css-transition
          enterClass="transform opacity-0 scale-95"
          enterActiveClass="transition ease-out duration-100"
          enterToClass="transform opacity-100 scale-100"
          leaveClass="transform opacity-100 scale-100"
          leaveActiveClass="transition ease-in duration-75"
          leaveToClass="transform opacity-0 scale-95"}}>
      <div class="py-1" role="none">
        {{yield (hash
            Item=(component "rlv/action-menu/item" closeMenu=this.closeActionMenu)
            Close=this.closeActionMenu
            )}}
      </div>
    </div>
  {{/if}}
</div>
