<div class="fixed z-10 inset-0 overflow-y-auto" aria-labelledby="modal-title" role="dialog" aria-modal="true">
  <div class="flex items-end justify-center min-h-screen pt-4 px-4 pb-20 text-center sm:block sm:p-0">
    {{#if this.showModalContent}}
      <div class="fixed inset-0 bg-gray-500/75 transition-opacity"
        {{css-transition
            enterClass="opacity-0"
            enterActiveClass="ease-out duration-300"
            enterToClass="opacity-100"
            leaveClass="opacity-100"
            leaveActiveClass="ease-in duration-200"
            leaveToClass="opacity-0"}}
        aria-hidden="true"></div>
    {{/if}}

    {{!-- This element is to trick the browser into centering the modal contents. --}}
    <span class="hidden sm:inline-block sm:align-middle sm:h-screen" aria-hidden="true">
      &#8203;
    </span>

    <div class="inline-block align-bottom bg-white rounded-lg px-4 pt-5 pb-4 text-left overflow-hidden shadow-xl transform transition-all sm:my-8 sm:align-middle {{this.width}} sm:p-6"
      {{css-transition
          enterClass="opacity-0 translate-y-4 sm:translate-y-0 sm:scale-95"
          enterActiveClass="ease-out duration-300"
          enterToClass="opacity-100 translate-y-0 sm:scale-100"
          leaveClass="opacity-100 translate-y-0 sm:scale-100"
          leaveActiveClass="ease-in duration-200"
          leaveToClass="opacity-0 translate-y-4 sm:translate-y-0 sm:scale-95"}}>
      {{#if (has-block "header")}}
        {{yield to="header"}}
      {{else}}
        {{#if @onClose}}
          <div class="hidden sm:block absolute top-0 right-0 pt-4 pr-4">
            <Rlv::Button
              @label="Sluiten"
              @hideText={{true}}
              @icon="close-line"
              @skin="secondary-naked"
              @size="xlarge"
              class="p-0"
              {{on "click" this.closeModal}} />
          </div>
        {{/if}}
      {{/if}}
      {{#if (has-block "body")}}
        {{yield to="body"}}
      {{/if}}
      {{#if (has-block "footer")}}
        <div class="mt-5 sm:mt-4 sm:flex sm:flex-row-reverse">
          {{yield to="footer"}}
          {{#if @onClose}}
            <Rlv::Button
              @label="Annuleer"
              @skin="secondary"
            {{on "click" this.closeModal}} />
          {{/if}}
        </div>
      {{/if}}
    </div>
  </div>
</div>
