<ul>
  {{#each this.values as |langString|}}
    <li class="my-1.5">
      <div class="flex items-center gap-x-2">
        <div class="text-sm text-gray-900">{{langString}}</div>
        <Rlv::Button
          @icon="delete-bin-line"
          @skin="naked"
          @size="small"
          {{on "click" (fn this.removeLangString langString)}} />
      </div>
    </li>
  {{/each}}
  {{#if this.availableLanguages.length}}
    <li class="my-1.5">
      <form class="flex items-center gap-x-2"
        {{on "submit" this.addLangString}}
      >
        <Rlv::LanguageInput
          @value={{this.newLangString}}
          @languageOptions={{this.availableLanguages}}
          @onChange={{fn (mut this.newLangString)}}
          class="focus:ring-red-200 focus:border-red-200 block w-full border-gray-300 rounded-md sm:text-sm" />
        <Rlv::Button
          @icon="add-line"
          @skin="tertiary"
          @size="small"
          @disabled={{not this.newLangStringIsValid}}
          type="submit"
        />
      </form>
    </li>
  {{/if}}
</ul>