{{#if @route}}
  <LinkTo role="menuitem" tabindex="-1"
    @route={{@route}}
    @models={{or @models (array @model)}}
    @query={{or @query (hash)}}
    class="text-gray-700 block px-4 py-2 text-sm hover:bg-gray-100">
    {{@label}}
  </LinkTo>
{{else}}
  <button type="button"
    class="text-gray-700 block w-full text-left px-4 py-2 text-sm hover:bg-gray-100 hover:text-gray-900"
    role="menuitem"
    tabindex="-1"
    ...attributes
    {{on "click" (queue @closeMenu @onClick)}}>
    {{@label}}
  </button>
{{/if}}