<ul>
  {{#each @aliases as |alias|}}
    <li>
    <div class="flex">
      <div class="text-sm my-2 text-gray-900">{{alias}}</div>
      <Rlv::Button
        @icon="delete-bin-line"
        @skin="naked"
        @size="small"
        @alert={{true}}
        class="ml-2 my-2 align-middle"
        {{on "click" (fn this.removeAlias alias)}} />
    </div>
    </li>
  {{/each}}
  <li>
    <div class="flex"
      {{on "focusout" (fn this.addAlias this.newAlias)}}
    >
      <Input
        id="new-alias-name"
        @value={{this.newAlias}}
        class="mt-1 focus:ring-red-200 focus:border-red-200 block w-full border-gray-300 rounded-md sm:text-sm" />
      <Rlv::Button
        @icon="add-line"
        @skin="tertiary"
        @size="small"
        @disabled={{not this.newAliasIsValid}}
        class="ml-2 my-1 align-middle"
        {{on "click" (fn this.addAlias this.newAlias)}} />
    </div>
  </li>
</ul>