<form>
  <div>
    <div>
      <div class="grid gap-y-6 gap-x-6 md:grid-cols-2">
        <div class="md:col-span-1">
          <div>
            <h3 class="text-lg leading-6 font-medium text-gray-900">
              Details
            </h3>
            <p class="mt-1 text-sm leading-5 text-gray-500">
              Informatie over het product.
            </p>
          </div>
          <div class="mt-6 grid grid-cols-1 gap-y-6 gap-x-4 md:grid-cols-6">
            <div class="md:col-span-4">
              <label for="product-name" class="block text-sm font-medium leading-5 text-gray-700">
                Naam
              </label>
              <div class="mt-1 rounded-md shadow-sm">
                <Input
                  @id="product-name"
                  @value={{@model.name}}
                  class="focus:ring-red-200 focus:border-red-200 block w-full border-gray-300 rounded-md md:text-sm md:leading-5" />
              </div>
            </div>
            <div class="md:col-span-5 lg:col-span-3">
              <label for="broader-category" class="block text-sm font-medium leading-5 text-gray-700">
                Categorie
              </label>
              <div class="mt-1 rounded-md shadow-sm">
                <Input::ProductCategorySelect
                  @id="broader-category"
                  @scope="top"
                  @value={{this.broaderCategory}}
                  @onSelectionChange={{this.setBroaderCategory}} />
              </div>
            </div>
            <div class="md:col-span-5 lg:col-span-3">
              <label for="category" class="block text-sm font-medium leading-5 text-gray-700">
                Subcategorie
              </label>
              <div class="mt-1 rounded-md shadow-sm">
                <Input::ProductCategorySelect
                  @id="category"
                  @scope={{this.broaderCategory.uri}}
                  @value={{@model.category}}
                  @onSelectionChange={{this.setCategory}} />
              </div>
            </div>
            <div class="md:col-span-6">
              <label for="product-description" class="block text-sm font-medium leading-5 text-gray-700">
                Opmerking
              </label>
              <div class="mt-1 rounded-md shadow-sm">
                <Textarea
                  @id="product-description"
                  @value={{@model.description}}
                  rows="5"
                  class="focus:ring-red-200 focus:border-red-200 block w-full border-gray-300 rounded-md md:text-sm md:leading-5" />
              </div>
            </div>
          </div>
        </div>
        <div class="md:col-span-1">
          <div class="mt-8 border-t border-gray-200 pt-8 md:mt-0 md:border-0 md:pt-0">
            <div>
              <h3 class="text-lg leading-6 font-medium text-gray-900">
                Leverancier
              </h3>
              <p class="mt-1 text-sm leading-5 text-gray-500">
                Informatie over de leverancier waar het product aangekocht is.
              </p>
            </div>
            <div class="mt-6 grid grid-cols-1 gap-y-6 gap-x-4 md:grid-cols-6">
              <div class="md:col-span-4">
                <label for="supplier" class="block text-sm font-medium leading-5 text-gray-700">
                  Leverancier
                </label>
                <div class="mt-1 rounded-md shadow-sm">
                  <Input::BusinessEntitySelect
                    @id="supplier"
                    @value={{@model.purchaseOffering.businessEntity}}
                    @onSelectionChange={{this.setSupplier}} />
                </div>
              </div>
              <div class="md:col-span-2">
                <label for="supplier-nb" class="block text-sm font-medium leading-5 text-gray-700">
                  Nummer
                </label>
                <div class="mt-1 rounded-md shadow-sm">
                  <Input
                    @id="supplier-nb"
                    @value={{@model.purchaseOffering.identifier}}
                    class="focus:ring-red-200 focus:border-red-200 block w-full border-gray-300 rounded-md md:text-sm md:leading-5" />
                </div>
              </div>
            </div>
          </div>
          <div class="mt-8 border-t border-gray-200 pt-8">
            <div>
              <h3 class="text-lg leading-6 font-medium text-gray-900">
                Magazijn
              </h3>
              <p class="mt-1 text-sm leading-5 text-gray-500">
                Informatie over de plaatsing en voorraad van het product in het magazijn.
              </p>
            </div>
            <div class="mt-6 grid grid-cols-6 gap-y-6 gap-x-4">
              <div class="col-span-6 relative flex items-start">
                <div class="flex items-center h-5">
                  <Input::Switch
                    @value={{@model.includeInStockReport}}
                    @onChange={{fn (mut @model.includeInStockReport)}} />
                </div>
                <div class="ml-3 text-sm leading-5">
                  <label for="in-stock" class="font-medium text-gray-700">In voorraadlijst</label>
                </div>
              </div>

              <div class="col-span-6 lg:col-span-3">
                <label for="warehouse-department" class="block text-sm font-medium leading-5 text-gray-700">
                  Afdeling
                </label>
                <div class="mt-1 rounded-md shadow-sm">
                  <Input::WarehouseDepartmentSelect
                    @id="warehouse-department"
                    @value={{@model.warehouseLocation.department}}
                    @onSelectionChange={{this.setWarehouseDepartment}} />
                </div>
              </div>
              <div class="col-span-2 lg:col-span-1">
                <label for="warehouse-rack-nb" class="block text-sm font-medium leading-5 text-gray-700">
                  Rek
                </label>
                <div class="mt-1 rounded-md shadow-sm">
                  <Input
                    @id="warehouse-rack-nb"
                    @value={{@model.warehouseLocation.rack}}
                    class="focus:ring-red-200 focus:border-red-200 block w-full border-gray-300 rounded-md md:text-sm md:leading-5" />
                </div>
              </div>
              <div class="col-span-2 lg:col-span-1">
                <label for="warehouse-side" class="block text-sm font-medium leading-5 text-gray-700">
                  Zijde
                </label>
                <div class="mt-1 rounded-md shadow-sm">
                  <Input
                    @id="warehouse-side"
                    @value={{@model.warehouseLocation.side}}
                    class="focus:ring-red-200 focus:border-red-200 block w-full border-gray-300 rounded-md md:text-sm md:leading-5" />
                </div>
              </div>
              <div class="col-span-2 lg:col-span-1">
                <label for="warehouse-position" class="block text-sm font-medium leading-5 text-gray-700">
                  Plaats
                </label>
                <div class="mt-1 rounded-md shadow-sm">
                  <Input
                    @id="warehouse-position"
                    @value={{@model.warehouseLocation.position}}
                    class="focus:ring-red-200 focus:border-red-200 block w-full border-gray-300 rounded-md md:text-sm md:leading-5" />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="mt-8 border-t border-gray-200 pt-8">
      <div>
        <h3 class="text-lg leading-6 font-medium text-gray-900">
          Prijzen
        </h3>
        <p class="mt-1 text-sm leading-5 text-gray-500">
          Informatie over de inkoop- en verkoopprijs van het product.
        </p>
      </div>
      <div class="mt-6 grid grid-cols-6 gap-y-6 gap-x-4">
        <div class="col-span-3 sm:col-span-2 lg:col-span-1">
          <label for="price-in" class="block text-sm font-medium leading-5 text-gray-700 whitespace-no-wrap">
            Inkoopprijs netto
          </label>
          <div class="mt-1 rounded-md shadow-sm relative">
            <div class="absolute inset-y-0 left-0 pl-3 flex items-center pointer-events-none">
              <span class="text-gray-500 md:text-sm md:leng-5">
                &euro;
              </span>
            </div>
            <Input::DecimalNumber
              @id="price-in"
              @value={{@model.purchaseOffering.unitPriceSpecification.currencyValue}}
              @onChange={{this.setPriceIn}}
              class="focus:ring-red-200 focus:border-red-200 block w-full pl-7 border-gray-300 rounded-md md:text-sm md:leading-5" />
          </div>
        </div>
        <div class="col-span-3 md:col-span-1">
          <label for="unit-price-in" class="block text-sm font-medium leading-5 text-gray-700">
            Eenheid
          </label>
          <div class="mt-1 rounded-md shadow-sm">
            <Input::UnitCodeSelect
              @id="unit-price-in"
              @value={{@model.purchaseOffering.unitPriceSpecification.unitCode}}
              @onSelectionChange={{this.setUnitPriceIn}} />
          </div>
        </div>
      </div>
      <fieldset class="mt-4 grid gap-y-4 gap-x-6 md:grid-cols-2">
        <div class="p-4 grid grid-cols-6 gap-y-6 gap-x-4 rounded-md bg-gray-50 border
          {{if @model.salesOffering.unitPriceSpecification.hasPriceOutCalculationBasis "border-green-300" "border-gray-200"}}">
          <div class="col-span-6 flex items-center">
            <Input type="radio"
              @id="calc-base-price-out"
              name="price-calc-basis"
              @value={{this.priceOutCalculationBasis}}
              checked={{@model.salesOffering.unitPriceSpecification.hasPriceOutCalculationBasis}}
              {{on "click" this.setPriceOutCalculationBasis}}
              class="focus:ring-green-400 h-4 w-4 text-green-600 border-gray-300" />
            <label for="calc-base-price-out" class="ml-3">
              <span class="block text-sm leading-5 font-medium
                {{if @model.salesOffering.unitPriceSpecification.hasPriceOutCalculationBasis "text-green-700" "text-gray-700"}}">
                Verkoopprijs
              </span>
            </label>
          </div>
          <div class="col-span-3 lg:col-span-2">
            <label for="price-out-evat" class="block text-sm font-medium leading-5 text-gray-700">
              Prijs excl. btw
            </label>
            <div class="mt-1 rounded-md shadow-sm relative">
              <div class="absolute inset-y-0 left-0 pl-3 flex items-center pointer-events-none">
                <span class="text-gray-500 md:text-sm md:leng-5">
                  &euro;
                </span>
              </div>
              <Input::DecimalNumber
                @id="price-out-evat"
                @value={{@model.salesOffering.unitPriceSpecification.currencyValueTaxExcluded}}
                class="block w-full pl-7 border-gray-300 rounded-md md:text-sm md:leading-5 bg-gray-200"
                disabled="true" />
            </div>
          </div>
          <div class="col-span-3 lg:col-span-2">
            <label for="price-out-ivat" class="block text-sm font-medium leading-5 text-gray-700">
              Prijs incl. btw
            </label>
            <div class="mt-1 rounded-md shadow-sm relative">
              <div class="absolute inset-y-0 left-0 pl-3 flex items-center pointer-events-none">
                <span class="text-gray-500 md:text-sm md:leng-5">
                  &euro;
                </span>
              </div>
              <Input::DecimalNumber
                @id="price-out-ivat"
                @value={{@model.salesOffering.unitPriceSpecification.currencyValue}}
                @onChange={{this.setPriceOut}}
                class="focus:ring-red-200 focus:border-red-200 block w-full pl-7 border-gray-300 rounded-md md:text-sm md:leading-5
                {{if @model.salesOffering.unitPriceSpecification.hasMarginCalculationBasis "disabled:bg-gray-200"}}"
                disabled={{@model.salesOffering.unitPriceSpecification.hasMarginCalculationBasis}} />
            </div>
          </div>
          <div class="col-span-3 lg:col-span-2">
            <label for="unit-price-out" class="block text-sm font-medium leading-5 text-gray-700">
              Eenheid
            </label>
            <div class="mt-1 rounded-md shadow-sm">
              <Input::UnitCodeSelect
                @id="unit-price-out"
                @value={{@model.salesOffering.unitPriceSpecification.unitCode}}
                @onSelectionChange={{this.setUnitPriceOut}} />
            </div>
          </div>
        </div>
        <div class="p-4 grid grid-cols-6 gap-y-6 gap-x-4 rounded-md bg-gray-50 border
          {{if @model.salesOffering.unitPriceSpecification.hasMarginCalculationBasis "border-green-300" "border-gray-200"}}">
          <div class="col-span-6 flex items-center">
            <Input type="radio"
              @id="calc-base-margin"
              name="price-calc-basis"
              @value={{this.marginCalculationBasis}}
              checked={{@model.salesOffering.unitPriceSpecification.hasMarginCalculationBasis}}
              {{on "click" this.setMarginCalculationBasis}}
              class="focus:ring-green-500 h-4 w-4 text-green-600 border-gray-300" />
            <label for="calc-base-margin" class="ml-3">
              <span class="block text-sm leading-5 font-medium
                {{if @model.salesOffering.unitPriceSpecification.hasMarginCalculationBasis "text-green-700" "text-gray-700"}}">
                Marge
              </span>
            </label>
          </div>
          <div class="col-span-3 lg:col-span-2">
            <label for="margin" class="block text-sm font-medium leading-5 text-gray-700">
              Factor
            </label>
            <div class="mt-1 rounded-md shadow-sm relative">
              <Input::DecimalNumber
                @id="margin"
                @value={{@model.salesOffering.unitPriceSpecification.margin}}
                @onChange={{this.setMargin}}
                class="focus:ring-red-200 focus:border-red-200 block w-full border-gray-300 rounded-md md:text-sm md:leading-5
                {{if @model.salesOffering.unitPriceSpecification.hasPriceOutCalculationBasis "disabled:bg-gray-200"}}"
                disabled={{@model.salesOffering.unitPriceSpecification.hasPriceOutCalculationBasis}} />
            </div>
          </div>
          <div class="hidden col-span-6 h-14 md:block lg:hidden">
            {{!-- Dummy element for alignment --}}
          </div>
        </div>
      </fieldset>
    </div>
    <div class="mt-8 border-t border-gray-200 pt-8">
      <div>
        <h3 class="text-lg leading-6 font-medium text-gray-900">
          Bijlagen
        </h3>
        <p class="mt-1 text-sm leading-5 text-gray-500">
          Bijkomende informatie in de vorm van afbeeldingen en bestanden.
        </p>
      </div>
      <div class="mt-6">
        <div>
          <label for="attachments" class="block text-sm leading-5 font-medium text-gray-700">
            Afbeeldingen en documenten
          </label>
          <div class="mt-2">
            <FileDropzone
              @name="attachments"
              @onfileadd={{perform this.uploadFile}}
              @multiple={{true}}
              as |dropzone queue|>
              <div class="flex justify-center px-6 pt-5 pb-6 border-2 border-dashed rounded-md {{if (and dropzone.active dropzone.valid) "border-red-300 bg-red-50" "border-gray-300"}}">
                <div class="space-y-1 text-center">
                  <svg class="mx-auto h-12 w-12 text-gray-400" stroke="currentColor" fill="none" viewBox="0 0 48 48" aria-hidden="true">
                    <path d="M28 8H12a4 4 0 00-4 4v20m32-12v8m0 0v8a4 4 0 01-4 4H12a4 4 0 01-4-4v-4m32-4l-3.172-3.172a4 4 0 00-5.656 0L28 28M8 32l9.172-9.172a4 4 0 015.656 0L28 28m0 0l4 4m4-24h8m-4-4v8m-12 4h.02" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                  </svg>
                  {{#if (and dropzone.active (not dropzone.valid))}}
                    <div class="text-sm text-gray-600">
                      Drag-and-drop niet ondersteund
                    </div>
                  {{else if queue.files.length}}
                    <div class="text-sm text-gray-600">
                      {{queue.files.length}} bestanden aan het opladen ({{queue.progress}}%)
                    </div>
                  {{else}}
                    <div class="flex text-sm text-gray-600">
                      <FileUpload
                        @for="file-upload"
                        @name="attachments"
                        @multiple={{true}}
                        @onfileadd={{perform this.uploadFile}}
                        class="relative cursor-pointer rounded-md font-medium text-red-600 hover:text-red-500 focus-within:outline-none focus-within:ring-2 focus-within:ring-offset-2 focus-within:ring-red-200">
                        <a tabindex="0" class="focus:outline-none">Laad een bestand op</a>
                      </FileUpload>
                      {{#if dropzone.supported}}
                        <p class="pl-1">of sleep het naar hier</p>
                      {{/if}}
                    </div>
                    <p class="text-xs text-gray-500">
                      Max. 500MB
                    </p>
                  {{/if}}
                </div>
              </div>
            </FileDropzone>
          </div>
        </div>
        {{#if @model.attachments.length}}
          <div class="mt-6 grid grid-cols-1 gap-y-6 gap-x-4 md:grid-cols-2">
            <div>
              <ul class="border border-gray-200 rounded-md">
                {{#each @model.attachments as |file index|}}
                  <li class="pl-3 pr-4 py-3 flex items-center justify-between text-sm leading-5
                    {{if (gt index 0) "border-t border-gray-200"}}">
                    <div class="w-0 flex-1 flex items-center">
                      <svg class="flex-shrink-0 h-5 w-5 text-gray-400" viewBox="0 0 20 20" fill="currentColor">
                        {{!-- paper-clip --}}
                        <path fill-rule="evenodd" d="M8 4a3 3 0 00-3 3v4a5 5 0 0010 0V7a1 1 0 112 0v4a7 7 0 11-14 0V7a5 5 0 0110 0v4a3 3 0 11-6 0V7a1 1 0 012 0v4a1 1 0 102 0V7a3 3 0 00-3-3z" clip-rule="evenodd" />
                      </svg>
                      <span class="ml-2 flex-1 w-0 truncate">
                        {{file.filename}}
                        <span class="ml-2 text-xs text-gray-400"> {{file.humanReadableSize}}</span>
                      </span>
                    </div>
                    <div class="ml-4 flex-shrink-0 flex space-x-4">
                      <a href={{file.downloadLink}}
                        target="_blank" rel="noopener noreferrer"
                        class="bg-white rounded-md font-medium text-red-600 hover:text-red-500 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-red-200">
                        Download
                      </a>
                      <span class="text-gray-300" aria-hidden="true">|</span>
                      <button type="button"
                        class="bg-white rounded-md font-medium text-red-600 hover:text-red-500 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-red-200"
                        onClick={{perform this.deleteFile file}}>
                        Verwijder
                      </button>
                    </div>
                  </li>
                {{/each}}
              </ul>
            </div>
          </div>
        {{/if}}
      </div>
    </div>
  </div>
  <div class="mt-8 border-t border-gray-200 pt-5">
    <div class="flex flex-wrap-reverse justify-between items-center">
      <div class="mt-6 text-xs text-gray-400 sm:mt-0">
        <div>
          Aangemaakt op {{dayjs-format date=@model.created format="DD-MM-YYYY"}}
        </div>
        <div>
          Laatst aangepast op {{dayjs-format date=@model.modified format="DD-MM-YYYY"}}
        </div>
      </div>
      <div class="flex justify-end">
        <span class="inline-flex rounded-md shadow-sm">
          <button type="button"
            class="bg-white py-2 px-4 border border-gray-300 rounded-md text-sm leading-5 font-medium text-gray-700 hover:text-gray-500 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-red-200"
            {{on "click" (perform this.cancel)}}>
            Annuleer
          </button>
        </span>
        <span class="ml-3 inline-flex rounded-md shadow-sm">
          <button type="button"
            class="inline-flex justify-center py-2 px-4 w-24 border border-transparent text-sm leading-5 font-medium rounded-md text-red-700 bg-white border-red-500 hover:text-red-500 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-red-200"
            {{on "click" this.askToDelete}}>
            Verwijderen
          </button>
        </span>
        <span class="ml-3 inline-flex rounded-md shadow-sm">
          {{#if this.save.isRunning}}
            <button type="button"
              class="inline-flex justify-center py-2 px-4 w-24 border border-transparent text-sm leading-5 font-medium rounded-md text-white bg-red-600 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-red-200"
              disabled>
              <svg class="animate-spin h-5 w-5" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
                <circle class="opacity-25" cx="12" cy="12" r="10" stroke="currentColor" stroke-width="4"></circle>
                <path class="opacity-75" fill="currentColor" d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"></path>
              </svg>
            </button>
          {{else}}
            <button type="button"
              class="inline-flex justify-center py-2 px-4 w-24 border border-transparent text-sm leading-5 font-medium rounded-md text-white bg-red-600 hover:bg-red-500 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-red-200"
              {{on "click" (perform this.save)}}>
              Opslaan
            </button>
          {{/if}}
        </span>
      </div>
    </div>
  </div>
</form>

{{#if this.showDeleteConfirmationModal}}
  <Product::ConfirmDeleteModal
    @onConfirm={{perform this.delete}}
    @onCancel={{this.cancelDelete}} />
{{/if}}