<form>
  <div>
    <div>
      <div class="grid row-gap-6 col-gap-6 sm:grid-cols-2">
        <div class="sm:col-span-1">
          <div>
            <h3 class="text-lg leading-6 font-medium text-gray-900">
              Details
            </h3>
            <p class="mt-1 text-sm leading-5 text-gray-500">
              Informatie over het product.
            </p>
          </div>
          <div class="mt-6 grid grid-cols-1 row-gap-6 col-gap-4 sm:grid-cols-6">
            <div class="sm:col-span-4">
              <label for="product-name" class="block text-sm font-medium leading-5 text-gray-700">
                Naam
              </label>
              <div class="mt-1 rounded-md shadow-sm">
                <Input
                  @id="product-name"
                  @value={{@model.name}}
                  class="form-input block w-full transition duration-150 ease-in-out sm:text-sm sm:leading-5" />
              </div>
            </div>
            <div class="sm:col-span-5 lg:col-span-3">
              <label for="broader-category" class="block text-sm font-medium leading-5 text-gray-700">
                Categorie
              </label>
              <div class="mt-1 rounded-md shadow-sm">
                <Input::ProductCategorySelect
                  @id="broader-category"
                  @scope="top"
                  @value={{this.broaderCategory}}
                  @onSelectionChange={{this.setBroaderCategory}} />
              </div>
            </div>
            <div class="sm:col-span-5 lg:col-span-3">
              <label for="category" class="block text-sm font-medium leading-5 text-gray-700">
                Subcategorie
              </label>
              <div class="mt-1 rounded-md shadow-sm">
                <Input::ProductCategorySelect
                  @id="category"
                  @scope={{this.broaderCategory.uri}}
                  @value={{@model.category}}
                  @onSelectionChange={{this.setCategory}} />
              </div>
            </div>
            <div class="sm:col-span-6">
              <label for="product-description" class="block text-sm font-medium leading-5 text-gray-700">
                Opmerking
              </label>
              <div class="mt-1 rounded-md shadow-sm">
                <Textarea
                  @id="product-description"
                  @value={{@model.description}}
                  rows="5"
                  class="form-textarea block w-full transition duration-150 ease-in-out sm:text-sm sm:leading-5" />
              </div>
            </div>
          </div>
        </div>
        <div class="sm:col-span-1">
          <div class="mt-8 border-t border-gray-200 pt-8 sm:mt-0 sm:border-0 sm:pt-0">
            <div>
              <h3 class="text-lg leading-6 font-medium text-gray-900">
                Leverancier
              </h3>
              <p class="mt-1 text-sm leading-5 text-gray-500">
                Informatie over de leverancier waar het product aangekocht is.
              </p>
            </div>
            <div class="mt-6 grid grid-cols-1 row-gap-6 col-gap-4 sm:grid-cols-6">
              <div class="sm:col-span-4">
                <label for="supplier" class="block text-sm font-medium leading-5 text-gray-700">
                  Leverancier
                </label>
                <div class="mt-1 rounded-md shadow-sm">
                  <Input::BusinessEntitySelect
                    @id="supplier"
                    @value={{@model.purchaseOffering.businessEntity}}
                    @onSelectionChange={{this.setSupplier}} />
                </div>
              </div>
              <div class="sm:col-span-2">
                <label for="supplier-nb" class="block text-sm font-medium leading-5 text-gray-700">
                  Nummer
                </label>
                <div class="mt-1 rounded-md shadow-sm">
                  <Input
                    @id="supplier-nb"
                    @value={{@model.purchaseOffering.identifier}}
                    class="form-input block w-full transition duration-150 ease-in-out sm:text-sm sm:leading-5" />
                </div>
              </div>
            </div>
          </div>
          <div class="mt-8 border-t border-gray-200 pt-8">
            <div>
              <h3 class="text-lg leading-6 font-medium text-gray-900">
                Magazijn
              </h3>
              <p class="mt-1 text-sm leading-5 text-gray-500">
                Informatie over de plaatsing en voorraad van het product in het magazijn.
              </p>
            </div>
            <div class="mt-6 grid grid-cols-6 row-gap-6 col-gap-4">
              <div class="col-span-6 relative flex items-start">
                <div class="flex items-center h-5">
                  <Input::AvailabilitySwitch
                    @value={{@model.salesOffering.availability}}
                    @onChange={{fn (mut @model.salesOffering.availability)}} />
                </div>
                <div class="ml-3 text-sm leading-5">
                  <label for="in-stock" class="font-medium text-gray-700">In voorraad</label>
                </div>
              </div>

              <div class="col-span-6 lg:col-span-3">
                <label for="warehouse-department" class="block text-sm font-medium leading-5 text-gray-700">
                  Afdeling
                </label>
                <div class="mt-1 rounded-md shadow-sm">
                  <Input::WarehouseDepartmentSelect
                    @id="warehouse-department"
                    @value={{@model.warehouseLocation.department}}
                    @onSelectionChange={{this.setWarehouseDepartment}} />
                </div>
              </div>
              <div class="col-span-2 lg:col-span-1">
                <label for="warehouse-rack-nb" class="block text-sm font-medium leading-5 text-gray-700">
                  Rek
                </label>
                <div class="mt-1 rounded-md shadow-sm">
                  <Input
                    @id="warehouse-rack-nb"
                    @value={{@model.warehouseLocation.rack}}
                    class="form-input block w-full transition duration-150 ease-in-out sm:text-sm sm:leading-5" />
                </div>
              </div>
              <div class="col-span-2 lg:col-span-1">
                <label for="warehouse-side" class="block text-sm font-medium leading-5 text-gray-700">
                  Zijde
                </label>
                <div class="mt-1 rounded-md shadow-sm">
                  <Input
                    @id="warehouse-side"
                    @value={{@model.warehouseLocation.side}}
                    class="form-input block w-full transition duration-150 ease-in-out sm:text-sm sm:leading-5" />
                </div>
              </div>
              <div class="col-span-2 lg:col-span-1">
                <label for="warehouse-position" class="block text-sm font-medium leading-5 text-gray-700">
                  Plaats
                </label>
                <div class="mt-1 rounded-md shadow-sm">
                  <Input
                    @id="warehouse-position"
                    @value={{@model.warehouseLocation.position}}
                    class="form-input block w-full transition duration-150 ease-in-out sm:text-sm sm:leading-5" />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="mt-8 border-t border-gray-200 pt-8">
      <div>
        <h3 class="text-lg leading-6 font-medium text-gray-900">
          Prijzen
        </h3>
        <p class="mt-1 text-sm leading-5 text-gray-500">
          Informatie over de inkoop- en verkoopprijs van het product.
        </p>
      </div>
      <div class="mt-6 grid grid-cols-6 row-gap-6 col-gap-4">
        <div class="col-span-3 sm:col-span-1">
          <label for="price-in" class="block text-sm font-medium leading-5 text-gray-700">
            Inkoopprijs netto
          </label>
          <div class="mt-1 rounded-md shadow-sm relative">
            <div class="absolute inset-y-0 left-0 pl-3 flex items-center pointer-events-none">
              <span class="text-gray-500 sm:text-sm sm:leng-5">
                &euro;
              </span>
            </div>
            <Input
              @id="price-in"
              @value={{@model.purchaseOffering.unitPriceSpecification.currencyValue}}
              class="form-input block w-full pl-7 transition duration-150 ease-in-out sm:text-sm sm:leading-5" />
          </div>
        </div>
        <div class="col-span-3 sm:col-span-1">
          <label for="unit-price-in" class="block text-sm font-medium leading-5 text-gray-700">
            Eenheid
          </label>
          <div class="mt-1 rounded-md shadow-sm">
            <Input::UnitCodeSelect
              @id="unit-price-in"
              @value={{@model.purchaseOffering.unitPriceSpecification.unitCode}}
              @onSelectionChange={{this.setUnitPriceIn}} />
          </div>
        </div>
      </div>
      <fieldset class="mt-6">
        <legend class="text-base font-medium text-gray-900">
          Berekeningsbasis
        </legend>
        <p class="text-sm leading-5 text-gray-500">Afhankelijk van de gekozen basis wordt de verkoopprijs of marge automatisch berekend.</p>
        <div class="mt-4">
          <div class="grid grid-cols-6 row-gap-6 col-gap-4">
            {{!-- Disable if calculation base is 'margin' --}}
            <div class="col-span-6 sm:col-span-1 flex items-center">
              <input type="radio"
                id="calc-base-price-out"
                name="price-calc-basis"
                value={{this.priceOutCalculationBasis}}
                checked={{@model.salesOffering.unitPriceSpecification.hasPriceOutCalculationBasis}}
                {{on "click" this.setPriceOutCalculationBasis}}
                class="form-radio h-4 w-4 text-red-600 transition duration-150 ease-in-out">
              <label for="calc-base-price-out" class="ml-3">
                <span class="block text-sm leading-5 font-medium text-gray-700">Verkoopprijs</span>
              </label>
            </div>
            <div class="col-span-3 sm:col-span-1">
              <label for="price-out-evat" class="block text-sm font-medium leading-5 text-gray-700">
                Prijs excl. btw
              </label>
              <div class="mt-1 rounded-md shadow-sm relative">
                <div class="absolute inset-y-0 left-0 pl-3 flex items-center pointer-events-none">
                  <span class="text-gray-500 sm:text-sm sm:leng-5">
                    &euro;
                  </span>
                </div>
                <Input
                  @id="price-out-evat"
                  @value={{@model.salesOffering.unitPriceSpecification.currencyValueTaxExcluded}}
                  class="form-input block w-full pl-7 transition duration-150 ease-in-out sm:text-sm sm:leading-5 disabled:bg-gray-200"
                  disabled="true" />
              </div>
            </div>
            <div class="col-span-3 sm:col-span-1">
              <label for="price-out-ivat" class="block text-sm font-medium leading-5 text-gray-700">
                Prijs incl. btw
              </label>
              <div class="mt-1 rounded-md shadow-sm relative">
                <div class="absolute inset-y-0 left-0 pl-3 flex items-center pointer-events-none">
                  <span class="text-gray-500 sm:text-sm sm:leng-5">
                    &euro;
                  </span>
                </div>
                <Input
                  @id="price-out-ivat"
                  @value={{@model.salesOffering.unitPriceSpecification.currencyValueTaxIncluded}}
                  class="form-input block w-full pl-7 transition duration-150 ease-in-out sm:text-sm sm:leading-5
                  {{if @model.salesOffering.unitPriceSpecification.hasMarginCalculationBasis "disabled:bg-gray-200"}}"
                  disabled={{@model.salesOffering.unitPriceSpecification.hasMarginCalculationBasis}} />
              </div>
            </div>
            <div class="col-span-3 sm:col-span-1">
              <label for="unit-price-out" class="block text-sm font-medium leading-5 text-gray-700">
                Eenheid
              </label>
              <div class="mt-1 rounded-md shadow-sm">
                <Input::UnitCodeSelect
                  @id="unit-price-out"
                  @value={{@model.salesOffering.unitPriceSpecification.unitCode}}
                  @onSelectionChange={{this.setUnitPriceOut}} />
              </div>
            </div>
          </div>
          <div class="mt-8 grid grid-cols-6 row-gap-6 col-gap-4 sm:mt-4">
            <div class="col-span-6 sm:col-span-1 flex items-center">
              <input type="radio"
                id="calc-base-margin"
                name="price-calc-basis"
                value={{this.marginCalculationBasis}}
                checked={{@model.salesOffering.unitPriceSpecification.hasMarginCalculationBasis}}
                {{on "click" this.setMarginCalculationBasis}}
                class="form-radio h-4 w-4 text-red-600 transition duration-150 ease-in-out">
              <label for="calc-base-margin" class="ml-3">
                <span class="block text-sm leading-5 font-medium text-gray-700">Marge</span>
              </label>
            </div>
            <div class="col-span-3 sm:col-span-1">
              <label for="margin-pct" class="block text-sm font-medium leading-5 text-gray-700">
                Percentage
              </label>
              <div class="mt-1 rounded-md shadow-sm relative">
                <Input
                  @id="margin-pct"
                  @value={{@model.salesOffering.unitPriceSpecification.margin}}
                  class="form-input block w-full pl-2 pr-6 transition duration-150 ease-in-out sm:text-sm sm:leading-5
                  {{if @model.salesOffering.unitPriceSpecification.hasPriceOutCalculationBasis "disabled:bg-gray-200"}}"
                  disabled={{@model.salesOffering.unitPriceSpecification.hasPriceOutCalculationBasis}} />
                <div class="absolute inset-y-0 right-0 flex items-center">
                  <span class="py-0 pl-2 pr-2 text-gray-500 sm:text-sm sm:leading-5">
                    %
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </fieldset>
    </div>
  </div>
  <div class="mt-8 border-t border-gray-200 pt-5">
    <div class="flex justify-end">
      <span class="inline-flex rounded-md shadow-sm">
        <button type="button" class="py-2 px-4 border border-gray-300 rounded-md text-sm leading-5 font-medium text-gray-700 hover:text-gray-500 focus:outline-none focus:border-blue-300 focus:shadow-outline-blue active:bg-gray-50 active:text-gray-800 transition duration-150 ease-in-out">
          Annuleer
        </button>
      </span>
      <span class="ml-3 inline-flex rounded-md shadow-sm">
        <button type="submit" class="inline-flex justify-center py-2 px-4 border border-transparent text-sm leading-5 font-medium rounded-md text-white bg-red-600 hover:bg-red-500 focus:outline-none focus:border-red-700 focus:shadow-outline-red active:bg-red-700 transition duration-150 ease-in-out">
          Opslaan
        </button>
      </span>
    </div>
  </div>
</form>
