<Rlv::Modal
  @width="w-4/5"
  @onClose={{@onClose}}>
  <:body>
    <div class="space-y-2">
      <h2 class="text-2xl font-bold text-gray-900">
        {{get-by-lang @product.name}}
      </h2>
      {{#if this.loadImage.isRunning}}
        <div class="w-full h-48">
          <Util::LoadingSpinner />
        </div>
      {{else}}
        <div class="flex items-center justify-center overflow-hidden min-h-[12rem]">
          {{#if this.image}}
            <img src="{{this.imageLink}}">
          {{else}}
            <div class="text-sm text-gray-400">
              Geen afbeelding beschikbaar
            </div>
          {{/if}}
        </div>
      {{/if}}
    </div>
  </:body>
</Rlv::Modal>
