<dl>
  <div>
    <div class="grid gap-y-6 gap-x-6 md:grid-cols-2">
      <div class="md:col-span-1">
        <div>
          <h3 class="text-lg leading-6 font-medium text-gray-900">
            Details
          </h3>
          <p class="mt-1 text-sm leading-5 text-gray-500">
            Informatie over het product.
          </p>
        </div>
        <div class="mt-6 grid grid-cols-1 gap-y-6 gap-x-4 grid-cols-6">
          <div class="col-span-1 sm:col-span-3 md:col-span-1">
            <dt class="text-sm font-medium text-gray-500">
              Nr.
            </dt>
            <dd class="mt-1 text-sm text-gray-900">
              {{@model.identifier}}
            </dd>
          </div>
          <div class="col-span-5 sm:col-span-3 md:col-span-5">
            <dt class="text-sm font-medium text-gray-500">
              Naam
            </dt>
            <dd class="mt-1 text-sm text-gray-900">
              {{@model.name}}
            </dd>
          </div>
          <div class="col-span-3">
            <dt class="text-sm font-medium text-gray-500">
              Categorie
            </dt>
            <dd class="mt-1 text-sm text-gray-900">
              {{@model.category.broader.label}}
            </dd>
          </div>
          <div class="col-span-3">
            <dt class="text-sm font-medium text-gray-500">
              Subcategorie
            </dt>
            <dd class="mt-1 text-sm text-gray-900">
              {{@model.category.label}}
            </dd>
          </div>
          <div class="col-span-6 md:col-span-3">
            <dt class="text-sm font-medium text-gray-500">
              Opmerking
            </dt>
            <dd class="mt-1 text-sm text-gray-900">
              {{@model.description}}
            </dd>
          </div>
        </div>
      </div>
      <div class="md:col-span-1">
        <div class="mt-8 border-t border-gray-200 pt-8 md:mt-0 md:border-0 md:pt-0">
          <div>
            <h3 class="text-lg leading-6 font-medium text-gray-900">
              Leverancier
            </h3>
            <p class="mt-1 text-sm leading-5 text-gray-500">
              Informatie over de leverancier waar het product aangekocht is.
            </p>
          </div>
          <div class="mt-6 grid grid-cols-1 gap-y-6 gap-x-4 grid-cols-6">
            <div class="col-span-4 sm:col-span-3">
              <dt class="text-sm font-medium text-gray-500">
                Leverancier
              </dt>
              <dd class="mt-1 text-sm text-gray-900">
                {{@model.purchaseOffering.businessEntity.name}}
              </dd>
            </div>
            <div class="col-span-2 sm:col-span-3">
              <dt class="text-sm font-medium text-gray-500">
                Nummer
              </dt>
              <dd class="mt-1 text-sm text-gray-900">
                {{@model.purchaseOffering.identifier}}
              </dd>
            </div>
          </div>
        </div>
        <div class="mt-8 border-t border-gray-200 pt-8">
          <div>
            <h3 class="text-lg leading-6 font-medium text-gray-900">
              Magazijn
            </h3>
            <p class="mt-1 text-sm leading-5 text-gray-500">
              Informatie over de plaatsing en voorraad van het product in het magazijn.
            </p>
          </div>
          <div class="mt-6 grid grid-cols-6 gap-y-6 gap-x-4">
            <div class="col-span-6 flex items-center space-x-2">
              {{#if @model.includeInStockReport}}
                <svg class="h-5 w-5 text-green-500" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                  {{!-- eye --}}
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 12a3 3 0 11-6 0 3 3 0 016 0z" />
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M2.458 12C3.732 7.943 7.523 5 12 5c4.478 0 8.268 2.943 9.542 7-1.274 4.057-5.064 7-9.542 7-4.477 0-8.268-2.943-9.542-7z" />
                </svg>
                <span class="text-green-700 text-sm font-medium">Neem op in voorraadlijst</span>
              {{else}}
                <svg class="h-5 w-5 text-red-500" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                  {{!-- eye-off --}}
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13.875 18.825A10.05 10.05 0 0112 19c-4.478 0-8.268-2.943-9.543-7a9.97 9.97 0 011.563-3.029m5.858.908a3 3 0 114.243 4.243M9.878 9.878l4.242 4.242M9.88 9.88l-3.29-3.29m7.532 7.532l3.29 3.29M3 3l3.59 3.59m0 0A9.953 9.953 0 0112 5c4.478 0 8.268 2.943 9.543 7a10.025 10.025 0 01-4.132 5.411m0 0L21 21" />
                </svg>
                <span class="text-red-700 text-sm font-medium">Niet in voorraadlijst</span>
              {{/if}}
            </div>
            <div class="col-span-6 sm:col-span-3">
              <dt class="text-sm font-medium text-gray-500">
                Afdeling
              </dt>
              <dd class="mt-1 text-sm text-gray-900">
                {{@model.warehouseLocation.department.name}}
              </dd>
            </div>
            <div class="col-span-2 sm:col-span-1">
              <dt class="text-sm font-medium text-gray-500">
                Rek
              </dt>
              <dd class="mt-1 text-sm text-gray-900">
                {{@model.warehouseLocation.rack}}
              </dd>
            </div>
            <div class="col-span-2 sm:col-span-1">
              <dt class="text-sm font-medium text-gray-500">
                Zijde
              </dt>
              <dd class="mt-1 text-sm text-gray-900">
                {{@model.warehouseLocation.side}}
              </dd>
            </div>
            <div class="col-span-2 sm:col-span-1">
              <dt class="text-sm font-medium text-gray-500">
                Plaats
              </dt>
              <dd class="mt-1 text-sm text-gray-900">
                {{@model.warehouseLocation.position}}
              </dd>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="mt-8 pt-8 border-t border-gray-200">
    <div>
      <h3 class="text-lg leading-6 font-medium text-gray-900">
        Prijzen
      </h3>
      <p class="mt-1 text-sm leading-5 text-gray-500">
        Informatie over de inkoop- en verkoopprijs van het product.
      </p>
    </div>
    <div class="mt-6 grid grid-cols-6 gap-y-6 gap-x-4">
      <div class="col-span-3 sm:col-span-2 lg:col-span-1">
        <dt class="text-sm font-medium text-gray-500">
          Inkoopprijs netto
        </dt>
        <dd class="mt-1 text-sm text-gray-900">
          <Fmt::UnitPrice @model={{@model.purchaseOffering.unitPriceSpecification}} @showTaxIncluded={{false}} />
        </dd>
      </div>
      <div class="col-span-3 sm:col-span-2 lg:col-span-1">
        <dt class="text-sm font-medium text-gray-500">
          Eenheid
        </dt>
        <dd class="mt-1 text-sm text-gray-900">
          <Fmt::UnitCode @value={{@model.purchaseOffering.unitPriceSpecification.unitCode.label}} />
        </dd>
      </div>
    </div>
    <div class="mt-4 grid gap-y-4 gap-x-6 md:grid-cols-2">
      <div class="p-4 grid grid-cols-6 gap-y-4 gap-x-4 rounded-md bg-gray-50 border
        {{if @model.salesOffering.unitPriceSpecification.hasPriceOutCalculationBasis "border-green-300" "border-gray-200"}}">
        <div class="col-span-6 flex items-center">
          {{#if @model.salesOffering.unitPriceSpecification.hasPriceOutCalculationBasis}}
            <svg class="h-5 w-5 text-green-400" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
              {{!-- check-circle icon --}}
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z" />
            </svg>
            <span class="ml-2 block text-sm font-medium text-green-700">Verkoopprijs</span>
          {{else}}
            <svg class="h-5 w-5 text-gray-500" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
              {{!-- minus-circle icon --}}
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 12H9m12 0a9 9 0 11-18 0 9 9 0 0118 0z" />
            </svg>
            <span class="ml-2 block text-sm leading-5 font-medium text-gray-700">Verkoopprijs</span>
          {{/if}}
        </div>
        <div class="col-span-2">
          <dt class="text-sm font-medium text-gray-500">
            Prijs excl. btw
          </dt>
          <dd class="mt-1 text-sm text-gray-900">
            <Fmt::UnitPrice @model={{@model.salesOffering.unitPriceSpecification}} @showTaxIncluded={{false}} />
          </dd>
        </div>
        <div class="col-span-2">
          <dt class="text-sm font-medium text-gray-500">
            Prijs incl. btw
          </dt>
          <dd class="mt-1 text-sm text-gray-900">
            <Fmt::UnitPrice @model={{@model.salesOffering.unitPriceSpecification}} @showTaxIncluded={{true}} />
          </dd>
        </div>
        <div class="col-span-2">
          <dt class="text-sm font-medium text-gray-500">
            Eenheid
          </dt>
          <dd class="mt-1 text-sm text-gray-900">
            <Fmt::UnitCode @value={{@model.salesOffering.unitPriceSpecification.unitCode.label}} />
          </dd>
        </div>
      </div>
      <div class="p-4 grid grid-cols-6 gap-y-4 gap-x-4 rounded-md bg-gray-50 border
        {{if @model.salesOffering.unitPriceSpecification.hasMarginCalculationBasis "border-green-300" "border-gray-200"}}">
        <div class="col-span-6 flex items-center">
          {{#if @model.salesOffering.unitPriceSpecification.hasMarginCalculationBasis}}
            <svg class="h-5 w-5 text-green-400" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
              {{!-- check-circle icon --}}
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z" />
            </svg>
            <span class="ml-2 block text-sm font-medium text-green-700">Marge</span>
          {{else}}
            <svg class="h-5 w-5 text-gray-400" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
              {{!-- minus-circle icon --}}
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 12H9m12 0a9 9 0 11-18 0 9 9 0 0118 0z" />
            </svg>
            <span class="ml-2 block text-sm leading-5 font-medium text-gray-600">Marge</span>
          {{/if}}
        </div>
        <div class="col-span-6">
          <dt class="text-sm font-medium text-gray-500">
            Factor
          </dt>
          <dd class="mt-1 text-sm text-gray-900">
            {{#if @model.salesOffering.unitPriceSpecification.margin}}
              <Fmt::Decimal @value={{@model.salesOffering.unitPriceSpecification.margin}} />
            {{/if}}
          </dd>
        </div>
      </div>
    </div>
    <div class="mt-8 border-t border-gray-200 pt-8">
      <div>
        <h3 class="text-lg leading-6 font-medium text-gray-900">
          Bijlagen
        </h3>
        <p class="mt-1 text-sm leading-5 text-gray-500">
          Bijkomende informatie in de vorm van afbeeldingen en bestanden.
        </p>
      </div>
      <div class="mt-6">
        {{#if @model.attachments.length}}
          <div class="mt-6 grid grid-cols-1 gap-y-6 gap-x-4 md:grid-cols-2">
            <div>
              <ul class="border border-gray-200 rounded-md">
                {{#each @model.attachments as |file index|}}
                  <li class="pl-3 pr-4 py-3 flex items-center justify-between text-sm leading-5
                    {{if (gt index 0) "border-t border-gray-200"}}">
                    <div class="w-0 flex-1 flex items-center">
                      <svg class="flex-shrink-0 h-5 w-5 text-gray-400" viewBox="0 0 20 20" fill="currentColor">
                        <path fill-rule="evenodd" d="M8 4a3 3 0 00-3 3v4a5 5 0 0010 0V7a1 1 0 112 0v4a7 7 0 11-14 0V7a5 5 0 0110 0v4a3 3 0 11-6 0V7a1 1 0 012 0v4a1 1 0 102 0V7a3 3 0 00-3-3z" clip-rule="evenodd" />
                      </svg>
                      <span class="ml-2 flex-1 w-0 truncate">
                        {{file.filename}}
                        <span class="ml-2 text-xs text-gray-400"> {{file.humanReadableSize}}</span>
                      </span>
                    </div>
                    <div class="ml-4 flex-shrink-0">
                      <a href={{file.downloadLink}}
                        target="_blank" rel="noopener noreferrer"
                        class="bg-white rounded-md font-medium text-red-600 hover:text-red-500 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-red-200">
                        Download
                      </a>
                    </div>
                  </li>
                {{/each}}
              </ul>
            </div>
          </div>
        {{else}}
          <div class="mt-6 grid grid-cols-1 gap-y-6 gap-x-4 md:grid-cols-2">
            <div class="text-sm leading-5 text-gray-400 italic">
              Nog geen bestanden opgeladen.
            </div>
          </div>
        {{/if}}
      </div>
    </div>
  </div>
  <div class="mt-8 border-t border-gray-200 pt-5">
    <div class="flex flex-wrap-reverse justify-between items-center">
      <div class="mt-6 text-xs text-gray-400 sm:mt-0">
        <div>
          Aangemaakt op {{dayjs-format date=@model.created format="DD-MM-YYYY"}}
        </div>
        <div>
          Laatst aangepast op {{dayjs-format date=@model.modified format="DD-MM-YYYY"}}
        </div>
      </div>
      <div class="flex justify-end">
        <span class="inline-flex rounded-md shadow-sm">
          <LinkTo @route="main.products.index"
            class="bg-white py-2 px-4 border border-gray-300 rounded-md text-sm leading-5 font-medium text-gray-700 hover:text-gray-500 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-red-200" >
            Terug
          </LinkTo>
        </span>
        <span class="ml-3 inline-flex rounded-md shadow-sm">
          <LinkTo @route="main.products.detail.edit"
            class="inline-flex justify-center py-2 px-4 w-24 border border-transparent text-sm leading-5 font-medium rounded-md text-white bg-red-600 hover:bg-red-500 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-red-200">
            Bewerk
          </LinkTo>
        </span>
      </div>
    </div>
  </div>
</dl>
