<dl>
  <div>
    <div class="grid gap-y-6 gap-x-6 md:grid-cols-2">
      <div class="md:col-span-1">
        <Util::SectionHeader
          @title="Details"
          @subtitle="Informatie over het product." />
        <div class="mt-6 grid gap-y-6 gap-x-4 grid-cols-6">
          <div class="col-span-3">
            <Util::Property @label="Nr." @value={{@model.identifier}} />
          </div>
          <div class="col-span-3 -ml-7 flex items-center space-x-2">
            {{#if @model.salesOffering.validThrough}}
              {{svg-jar "prohibited-line" class="h-5 w-5 text-red-600 fill-current"}}
              <div>
                <div class="text-red-700 text-sm font-medium">Niet beschikbaar</div>
                <div class="text-red-700 text-xs">Sinds {{format-date @model.salesOffering.validThrough}}</div>
              </div>
            {{else}}
              {{svg-jar "survey-line" class="h-5 w-5 text-green-600 fill-current"}}
              <span class="text-green-700 text-sm font-medium">Beschikbaar</span>
            {{/if}}
          </div>
          <div class="col-span-6">
            <Util::Property @label="Naam" @value={{@model.name}} />
          </div>
          <div class="col-span-3">
            <Util::Property @label="Categorie" @value={{@model.category.broader.label}} />
          </div>
          <div class="col-span-3">
            <Util::Property @label="Subcategorie" @value={{@model.category.label}} />
          </div>
          <div class="col-span-6 md:col-span-3">
            <Util::Property @label="Opmerking" @value={{@model.description}} />
          </div>
        </div>
      </div>
      <div class="md:col-span-1">
        <div class="mt-8 border-t border-gray-200 pt-8 md:mt-0 md:border-0 md:pt-0">
          <Util::SectionHeader
            @title="Leverancier"
            @subtitle="Informatie over de leverancier waar het product aangekocht is." />
          <div class="mt-6 grid grid-cols-1 gap-y-6 gap-x-4 grid-cols-6">
            <div class="col-span-4 sm:col-span-3">
              <Util::Property @label="Leverancier" @value={{@model.purchaseOffering.businessEntity.name}} />
            </div>
            <div class="col-span-2 sm:col-span-3">
              <Util::Property @label="Nummer" @value={{@model.purchaseOffering.identifier}} />
            </div>
          </div>
        </div>
        <div class="mt-8 border-t border-gray-200 pt-8">
          <Util::SectionHeader
            @title="Magazijn"
            @subtitle="Informatie over de plaatsing en voorraad van het product in het magazijn." />
          <div class="mt-6 grid grid-cols-6 gap-y-6 gap-x-4">
            <div class="col-span-6 flex items-center space-x-2">
              {{#if @model.includeInStockReport}}
                {{svg-jar "eye-line" class="h-5 w-5 text-green-600 fill-current"}}
                <span class="text-green-700 text-sm font-medium">Neem op in voorraadlijst</span>
              {{else}}
                {{svg-jar "eye-off-line" class="h-5 w-5 text-red-600 fill-current"}}
                <span class="text-red-700 text-sm font-medium">Niet in voorraadlijst</span>
              {{/if}}
            </div>
            <div class="col-span-6 sm:col-span-3">
              <Util::Property @label="Afdeling" @value={{@model.warehouseLocation.department.name}} />
            </div>
            <div class="col-span-2 sm:col-span-1">
              <Util::Property @label="Rek" @value={{@model.warehouseLocation.rack}} />
            </div>
            <div class="col-span-2 sm:col-span-1">
              <Util::Property @label="Zijde" @value={{@model.warehouseLocation.side}} />
            </div>
            <div class="col-span-2 sm:col-span-1">
              <Util::Property @label="Plaats" @value={{@model.warehouseLocation.position}} />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="mt-8 pt-8 border-t border-gray-200">
    <Util::SectionHeader
      @title="Prijzen"
      @subtitle="Informatie over de inkoop- en verkoopprijs van het product." />
    <div class="mt-6 grid grid-cols-6 gap-y-6 gap-x-4">
      <div class="col-span-3 sm:col-span-2 lg:col-span-1">
        <dt class="text-sm font-medium text-gray-500">
          Inkoopprijs netto
        </dt>
        <dd class="mt-1 text-sm text-gray-900">
          <Fmt::UnitPrice @model={{@model.purchaseOffering.unitPriceSpecification}} @showTaxIncluded={{false}} />
        </dd>
      </div>
      <div class="col-span-3 sm:col-span-2 lg:col-span-1">
        <Util::Property @label="Eenheid">
          <Fmt::UnitCode @value={{@model.purchaseOffering.unitPriceSpecification.unitCode.label}} />
        </Util::Property>
      </div>
    </div>
    <div class="mt-4 grid gap-y-4 gap-x-6 md:grid-cols-2">
      <div class="p-4 grid grid-cols-6 gap-y-4 gap-x-4 rounded-md bg-gray-50 border
        {{if @model.salesOffering.unitPriceSpecification.hasPriceOutCalculationBasis "border-green-300" "border-gray-200"}}">
        <div class="col-span-6 flex items-center">
          {{#if @model.salesOffering.unitPriceSpecification.hasPriceOutCalculationBasis}}
            {{svg-jar "checkbox-circle-line" class="h-5 w-5 text-green-400 fill-current"}}
            <span class="ml-2 block text-sm font-medium text-green-700">Verkoopprijs</span>
          {{else}}
            {{svg-jar "indeterminate-circle-line" class="h-5 w-5 text-gray-400 fill-current"}}
            <span class="ml-2 block text-sm font-medium text-gray-700">Verkoopprijs</span>
          {{/if}}
        </div>
        <div class="col-span-2">
          <Util::Property @label="Prijs excl. btw">
            <Fmt::UnitPrice @model={{@model.salesOffering.unitPriceSpecification}} @showTaxIncluded={{false}} />
          </Util::Property>
        </div>
        <div class="col-span-2">
          <Util::Property @label="Prijs incl. btw">
            <Fmt::UnitPrice @model={{@model.salesOffering.unitPriceSpecification}} @showTaxIncluded={{true}} />
          </Util::Property>
        </div>
        <div class="col-span-2">
          <Util::Property @label="Eenheid">
            <Fmt::UnitCode @value={{@model.salesOffering.unitPriceSpecification.unitCode.label}} />
          </Util::Property>
        </div>
      </div>
      <div class="p-4 grid grid-cols-6 gap-y-4 gap-x-4 rounded-md bg-gray-50 border
        {{if @model.salesOffering.unitPriceSpecification.hasMarginCalculationBasis "border-green-300" "border-gray-200"}}">
        <div class="col-span-6 flex items-center">
          {{#if @model.salesOffering.unitPriceSpecification.hasMarginCalculationBasis}}
            {{svg-jar "checkbox-circle-line" class="h-5 w-5 text-green-400 fill-current"}}
            <span class="ml-2 block text-sm font-medium text-green-700">Marge</span>
          {{else}}
            {{svg-jar "indeterminate-circle-line" class="h-5 w-5 text-gray-400 fill-current"}}
            <span class="ml-2 block text-sm font-medium text-gray-600">Marge</span>
          {{/if}}
        </div>
        <div class="col-span-6">
          <Util::Property @label="Factor">
            {{#if @model.salesOffering.unitPriceSpecification.margin}}
              <Fmt::Decimal @value={{@model.salesOffering.unitPriceSpecification.margin}} />
            {{/if}}
          </Util::Property>
        </div>
      </div>
    </div>
    <div class="mt-8 border-t border-gray-200 pt-8">
      <Util::SectionHeader
        @title="Bijlagen"
        @subtitle="Bijkomende informatie in de vorm van afbeelingen en bestanden." />
      <div class="mt-6">
        {{#if @model.attachments.length}}
          <div class="mt-6 grid grid-cols-1 gap-y-6 gap-x-4 md:grid-cols-2">
            <div>
              <ul class="border border-gray-200 rounded-md">
                {{#each @model.attachments as |file index|}}
                  <li class="pl-3 pr-4 py-3 flex items-center justify-between text-sm {{if (gt index 0) "border-t border-gray-200"}}">
                    <div class="w-0 flex-1 flex items-center">
                      {{svg-jar "attachment-2" class="shrink-0 h-5 w-5 text-gray-400 fill-current"}}
                      <span class="ml-2 flex-1 w-0 truncate">
                        {{file.filename}}
                        <span class="ml-2 text-xs text-gray-400"> {{file.humanReadableSize}}</span>
                      </span>
                    </div>
                    <div class="ml-4 shrink-0">
                      <Rlv::Button
                        @label="Download"
                        @href={{file.downloadLink}}
                        @skin="link"
                        target="_blank"
                        rel="noopener noreferrer" />
                    </div>
                  </li>
                {{/each}}
              </ul>
            </div>
          </div>
        {{else}}
          <div class="mt-6 grid grid-cols-1 gap-y-6 gap-x-4 md:grid-cols-2">
            <div class="text-sm text-gray-400 italic">
              Nog geen bestanden opgeladen.
            </div>
          </div>
        {{/if}}
      </div>
    </div>
  </div>
  <div class="mt-8 border-t border-gray-200 pt-5">
    <div class="flex flex-wrap-reverse justify-between items-center">
      <div class="mt-6 text-xs text-gray-400 sm:mt-0">
        <div>
          <Util::CreatedOn @date={{@model.created}} />
        </div>
        <div>
          <Util::UpdatedOn @date={{@model.modified}} />
        </div>
      </div>
      <div class="flex justify-end space-x-3">
        <Rlv::Button
          @label="Terug"
          @icon="arrow-go-back-line"
          @route="main.products.index"
          @skin="secondary" />
        <Rlv::Button
          @label="Bewerk"
          @icon="pencil-line"
          @route="main.products.detail.edit"
          @skin="primary" />
      </div>
    </div>
  </div>
</dl>
