<div id={{@id}} {{did-update this.onValueUpdate @value}} {{did-update (perform this.loadData) @scope}}>
  <PowerSelect
    @searchPlaceholder="Typ om te zoeken"
    @options={{this.options}}
    @selected={{this.selected}}
    @searchEnabled={{true}}
    @searchField="label"
    @onChange={{this.selectValue}}
    @noMatchesMessage="Geen resultaten"
    @allowClear={{true}} as |option select|>
    {{option.label}}
  </PowerSelect>
</div>