<div id={{@id}} {{did-update (perform this.loadData) @scope}}>
  <PowerSelect
    @searchPlaceholder="Typ om te zoeken"
    @loadingMessage="Aan het zoeken..."
    @options={{this.options}}
    @selected={{@value}}
    @searchEnabled={{true}}
    @searchField="label"
    @onChange={{this.selectValue}}
    @noMatchesMessage="Geen resultaten"
    @allowClear={{true}} as |option select|>
    {{option.label}}
  </PowerSelect>
</div>