<div id={{@id}} ...attributes>
  <PowerSelect
    @searchPlaceholder="Typ om te zoeken"
    @options={{this.options}}
    @selected={{@value}}
    @searchEnabled={{true}}
    @searchField="name"
    @onChange={{this.selectValue}}
    @noMatchesMessage="Geen resultaten"
    @renderInPlace={{true}}
    @allowClear={{true}} as |option select|>
    {{option.name}}
  </PowerSelect>
</div>